@inject IClientService ClientService
@inject IToastPopup ToastPopup

<div class="simple-form">
    <div class="form-group">
        Are you sure you want to delete this client?
    </div>

    <div class="buttonEdit">
        <button @onclick="DeleteClient" class="btn btn-warning">Delete</button>
        <button @onclick="ModalInstance.CancelAsync" class="btn btn-secondary">Cancel</button>
    </div>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; } = default!;

    [Parameter] public int ClientId { get; set; }

    ResponseMessage responseMessage = new ResponseMessage();

    protected async Task DeleteClient()
    {
        responseMessage = await ClientService.DeleteClient(ClientId);
        await ToastPopup.ReturnAppropriateMessageDialog(responseMessage, ModalInstance);
    }
}
